$header-height: 80px;

html, body, #root, .page {
    height: 100%;
}

.logo {
    position: sticky;
    font-size: 1.8em;
}

.grid {
    display: grid;
    grid-template-rows: $header-height 1fr;
}

header {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #e0e2ee;
}

.flex { // TODO: combine with global css
    display: flex;
}

.column {  // TODO: combine with global css
    display: flex;
    flex-direction: column;
}

center {  // TODO: combine with global css
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    height: calc(100vh - $header-height);
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #ffffff;
}

.wallet {
    color: #e0e2ee;
    width: 200px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    background-color: inherit;
    border: 1px solid #e0e2ee;

    &:hover {
        background-color: #34797d;
        border-color: #34797d;
    }
    &:active {
        background-color: hsla(0, 0%, 100%, 0.37);
        border-color: hsla(0, 0%, 100%, 0.274);
    }
}

.scrollContent {
    height: 5000px;
    background-color: antiquewhite;
}


.btn-main {
  padding: 15px 25px;
  font-size: 1em;
  margin: 0px 5px;
}

.btn-wallet {
  color: #ffffff;
  background-color: #34797d;
}

.btn-about {
  background-color: #e0e0e0;
  border: 1px solid #ffffff;
}
