@font-face {
  font-family: 'Lobster';
  // TODO: change url to absolute path
  src: local('Lobster'), url(assets/fonts/lobster-v28-latin-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Assistant';
  // TODO: change url to absolute path
  src: local('Assistant'), url(assets/fonts/assistant-v18-latin-regular.woff2) format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #aab9ba;
  //background-image: linear-gradient(to right top, #051828, #082235, #113850, #185d85, #307296);  
  background-color: #22272e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a:visited {
  color:#4991b8;
}
